:root {
    --bg-color: black;
    --dark-accent: #135D66;
    --light-accent: #77B0AA;
    --text-color: #E3FEF7;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    height: 100%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    flex-direction: column;
    width: 70%;
    grid-row: 1;
    justify-self: center;
}

main {
    grid-row: 2 / 3;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
    align-self: center;
}

.heroTitle {
    color: var(--light-accent);
}

.textBox {
    width: 80%;
}

.textBox > p {
    font-size: 15px;
}

.collapsible {
    width: 80%;
    background-color: var(--dark-accent);
    color: var(--text-color);
    cursor: pointer;
    padding: 8px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 1em;
}

.active,
.collapsible:hover {
    background-color: #ccc;
    color:  var(--dark-accent);
}

.content {
    background-color: var(--light-accent);
    color:  var(--dark-accent);
    width: 80%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content>p {
    padding: 0 8px 0 8px;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.timelineTitle {
    margin-top: 4rem;
    color: var(--light-accent);
    width: 80%;
}

.timeline {
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}

.event {
    padding: 5px 8px 5px 8px;
}

.eventYear {
    font-size: 18px;
    font-weight: 700;
}

.row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    transition: background 0.3s;
    align-items: center;
}

.row:hover {
    background-color: var(--dark-accent);
}

.theFuture {
    width: 80%
}

footer {
    justify-self: center;
    margin-bottom: 1em;
    grid-row: 3;
}

@media only screen and (min-width: 992px) {

    .theFuture,
    .timeline,
    .timelineTitle,
    .collapsible,
    .textBox,
    .content {
        width: 50%;
    }

    header {
        width: 45%;
    }
}

@media only screen and (min-width: 1922px) {
    .theFuture,
    .timeline,
    .timelineTitle,
    .collapsible,
    .textBox,
    .content {
        width: 30%;
    }

    header {
        width: 27%;
    }
}
